name: Format
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
  push:
    branches: [main]

permissions:
  pull-requests: write
  contents: write
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: vx.x.x
    - name: Typecheck
      run: deno fmt 
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "chore: format"
        branch: ${{ github.head_ref }}