on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: navikt/github-app-token-generator@v1
        id: get-token
        with:
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          app-id: ${{ secrets.APP_ID }}
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: simple
          package-name: "unpic"
          ssh-key: "${{ secrets.COMMIT_KEY }}"
          token: ${{ steps.get-token.outputs.token }}